.main__content::-webkit-scrollbar
{
    background-color: transparent;    
    width: 1.2rem;
}

.main__content::-webkit-scrollbar-thumb
{
    background-color: transparent;

}

.main__content:hover::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255, .3);
}