:root{
    --main-background:#000;
    --secondary-background:#121212;
    --third-background:#1D1D1D;
    --main-color:#fff;
    --navbar-width:42rem;
    --border-radius:.8rem;
}

body
{
    background-color: var(--main-background);
    color: var(--main-color);
    font-family: sans-serif;
}
/*MAIN*/
.main
{
    padding: 1rem;
    display: flex;
    gap: .7rem;
}
/*NAVBAR*/
.main__navbar{
    width: 22%;
}
.navbar__options
{
    background-color: var(--secondary-background);
    width: 100%;
    height: 11.2rem;
    border-radius: var(--border-radius);
    font-size: 1.6rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.6rem;
    padding: 1.5rem;
}
.navbar__option,
.navbar__label-container
{
    width: 100%;
    cursor: pointer;
}
.navbar__label-container
{
    position: relative;
    display: flex;
    align-items: center;
}
.icon-container__icon,
.icon-container__text
{
    font-weight: 600;
    cursor: pointer;
    opacity: .6;
    transition: 300ms ease-in-out;
}
.icon-container__icon
{
    margin-left: 1rem;
    margin-right: 2rem;
    color: var(--main-color);
    font-size: 4rem;
}

.navbar__option:hover .icon-container__icon,
.navbar__option:hover .icon-container__text
{
    opacity: 1;
}

/*LIBRARY*/
.navbar__library{
    background-color: var(--secondary-background);
    width:100%;
    height: 76rem;
    margin-top: .7rem;
    border-radius: var(--border-radius);
}

/*CONTENT*/
.main__content
{
    background-color: var(--secondary-background);
    width: 78%;
    height: 878px;
    border-radius: var(--border-radius);
    padding: 0 2.5rem;
    overflow: scroll;
    overflow-x: hidden;
}
.content__header
{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
    padding-top: .5rem;
    margin-bottom: 1.5rem;
}
.header-content__wrapper
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.2rem;
}
.header__search-container
{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: .8rem;
    width: 44.5rem;
}
.search-container__icon
{
    width: 3.2rem;
    height: 3.2rem;
    background-color: var(--main-background);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    opacity: .5;
    line-height: 100px;
}

.search__form{
    width: 36.8rem;
    height: 4.8rem;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 3rem;
    overflow: hidden;
    background-color: var(--third-background);
   
}
.search__icon
{
    position: absolute;
    left: 3.6%;
    font-size: 1.6rem;
    opacity: .6;
}

.search__input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--main-color);
    margin: 3rem 1rem 3rem 4rem;
    font-weight: 600;
}
.search__input:focus
{
    width: 100%;
    height: 100%;

}
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1.6em;
    width: 1.6em;
    border-radius: 50em;
    background: url(assets/xmark-solid.svg) no-repeat 50% 50%;
    background-size: contain;
    opacity: .6;
}
.header__options
{
    display: flex;
    gap: .8rem;
}

.options__icon
{
    font-size: 1.5rem;
}
.download__icon
{
    font-family: sans-serif;
    font-weight: 600;
}
/*REUSLT TAGS*/
.header__content-tags
{
    margin-bottom: 3.2rem;
    display: flex;
    gap: 1.2rem;
}
.content-tags__item
{
    background-color: var(--third-background);
    padding: 1rem;
    border-radius: 4rem;
    font-size: 1.4rem;
    cursor: pointer;
    transition: 300ms all ease-in-out;
}

.content-tags__item:hover
{
    background-color: #232323;
}
.content-tags__item.active
{
    background-color: var(--main-color);
    color: var(--main-background);
}
/*CONMTENT RESULTS*/
.content__results
{
    display: flex;
    gap: 2.7rem;
    flex-direction: row;
}
/*RESULTS*/
.results__relevant
{
    height: 26.2rem;
}
.relevant__card
{
    background-color: #181818;
    width: 39.2rem;
    height: 83%;
    border-radius: var(--border-radius);
    margin-top: 2.6rem;
    transition: 200ms all ease-in-out;
}

.relevant__card:hover
{
    background-color: #282828;
}
.relevant__title
{
    font-size: 2rem;
    font-weight: 900;
}
.relevant__card
{
    padding: 2rem;
    display: flex;
    position: relative;
    cursor: pointer;
}
.card__left-side
{
    display: flex;
    flex-direction: column;

}
.card__info-container
{
    font-size: 1.5rem;
    margin-top: 1rem;
}
.card__item-owner:hover
{

    border-bottom: 1px solid var(--main-color);
}
.card__item-title
{
    margin-top: 2rem;
    font-size: 2.6rem;
}

.card__image
{
    width: 100%;
    height: 100%;
}

.card__image-container
{
    width: 95px;
    height: 95px;
    overflow: hidden;
    border-radius: var(--border-radius);
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.5);
}

.card__tag
{
    margin-left: 1rem;
    background-color: var(--secondary-background);
    padding: .5rem 1rem;
    border-radius: 3rem;
}
.relevant__play-container
{
    position: absolute;
    right: 2rem;
    bottom: 1rem;
    color: var(--main-background);
    background-color: #1ED760;
    padding: 2rem;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 2px 10px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: 200ms all ease-in-out;
    opacity: 0;
}
.relevant__card:hover .relevant__play-container
{
    bottom: 1.5rem;
    opacity: 1;
}
.relevant__play-icon
{
    font-size: 2rem;
}
/*RESULTS ITEMS*/

.results__items
{
    height: 26.2rem;
    width: 100%;
}

.items__title
{
    font-size: 2rem;
    font-weight: 800;   
}
.items__list
{
    margin-top: 2.6rem;
}
.items__item
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem;
    height: 5.6rem;
}
.items__item:hover{
    background-color: #3D3D3D;
    border-radius: .5rem;
}
.item__left-container
{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.item__text-container{
    display: flex;
    flex-direction: column;
}
.item__image-container
{
    width: 4rem;
    height: 4rem;
    overflow: hidden;
    position: relative;
    border-radius: .5rem;
}
.item__song-title,
.item__artist-name
{
    font-size: 1.5rem;
    color: var(--main-color);
    border-bottom: 1px solid transparent;
}
.item__song-title:hover,
.item__artist-name:hover
{
    border-bottom: 1px solid var(--main-color);
}
.item__song-title--active
{
    color: #1ED760;
}
.item__artist-name
{
    opacity: .6;
}
.item__image
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item__overlay
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
}
.item__icon-play,
.item__icon-pause
{
    position: absolute;
    top: 30%;
    left: 35%;
    font-size: 1.8rem;
    opacity: 0;
} 
.item__icon-pause
{
    pointer-events: none;
}
.item__icon-play--active{
    opacity: 0;
    pointer-events: none;
}
.item__icon-pause--active
{
    opacity: 1;
    pointer-events: auto;
}
.items__item:hover .item__icon-play--active
{
    opacity: 0 !important;
}
.items__item:hover .item__overlay,
.items__item:hover  .item__icon-play,
.items__item:hover .item__artist-name
{
    opacity: 1;
}
.right__option
{
    font-size: 1.4rem;
}
.right__option--duration
{
    margin-left: 2.8rem;
    margin-right: 1.2rem;
    opacity: .6;
}

.right__option--hidden
{
    opacity: 0;
}
.items__item:hover .right__option--hidden
{
    opacity: 1;
}
/*ARISTS*/
.results__artists
{
    margin-top: 4.8rem;
    
}

.artists__list
{
    display: flex;
    gap: 2.5rem;
}

.artists__title
{
    font-size: 2rem;
}
@media(max-width:1450px)
{
    .main__navbar
    {
        min-width: 280px;
    }
}